<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>cms</title>
</head>
<body>
<div>
	<div class="w3-container">
		<label class="switch">
		  		<input type="checkbox">
		  		<span class="slider round"></span>
		</label>
	</div>
	<div class = "row" id="CMS-skill">
		<div class = "col-xs-1"></div>
		<div class = "col-xs-10" id=""> 
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>CMS Skill</h2>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<div class="panel panel-heading">
							Oldest Call Waiting
						</div>
					</div>
					<div class="col-xs-4">
						
						<div class="panel panel-heading">
                                                    Totals Agents Staffed: <%=agents.length %>
						</div>
					</div>
					<div class="col-xs-4">
						
						<div class="panel panel-heading">
                                                    Total Agents Active: <%=active_agents.length %>
						</div>
					</div>
				</div>
				</span>
				</button>
			</div>
		</div>
		<div class = "col-xs-1">
		</div>	
	</div>
</div>
	<div class = "row" id="Agent-skill">
		<div class = "col-xs-1"></div>
		<div class = "col-xs-10"> 
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Agent By Skill</h2>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<div class="panel panel-heading">
							Name
						</div>
					</div>
					<div class="col-xs-4">
						
						<div class="panel panel-heading">
							Reason Code
						</div>
					</div>
					<div class="col-xs-4">
						
						<div class="panel panel-heading">
							Time
						</div>
					</div>
				</div>
				<div style="text-align: right">
					<button type="button" class="btn btn-success">View Details <span class="glyphicon glyphicon-eye-open">
				</div>	
				</span>
				</button>
			</div>
		</div>
		<div class = "col-xs-1">

		</div>	
	</div>

	<div class = "row" id="Agent-group">
		<div class = "col-xs-1"></div>
		<div class = "col-xs-10"> 
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Agent by Agent Group</h2>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<div class="panel panel-heading">
							Queue 1 
						</div>
					</div>
					<div class="col-xs-3">
						
						<div class="panel panel-heading">
							Queue 2
						</div>
					</div>
					<div class="col-xs-3">
						
						<div class="panel panel-heading">
							Queue 3
						</div>
					</div>
					<div class="col-xs-3">
						<div class="panel panel-heading">
							Queue 4
						</div>
					</div>
				</div>
				</span>
				</button>
			</div>
		</div>
		<div class = "col-xs-1"></div>	
	</div>
	<div class = "row" id="Agent-group">
		<div class = "col-xs-1"></div>
		<div class = "col-xs-10"> 
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Agent by Agent Group</h2>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<div class="panel panel-heading">
							Queue 1 
						</div>
					</div>
					<div class="col-xs-3">
						
						<div class="panel panel-heading">
							Queue 2
						</div>
					</div>
					<div class="col-xs-3">
						
						<div class="panel panel-heading">
							Queue 3
						</div>
					</div>
					<div class="col-xs-3">
						<div class="panel panel-heading">
							Queue 4
						</div>
					</div>
				</div>
				</span>
				</button>
			</div>
		</div>
		<div class = "col-xs-1"></div>	
	</div>


</div>
</body>
</html>
