<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <link rel="stylesheet" type="text/css" href="style.css"> 
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Work', 'Hours Per Day'],
          ['', 0],
          ['Agents not on Call', 6],
          ['Agents on AUX',  2],
          ['Agents on Call', 11],
          ['', 0]
        ]);

        var options = {
          title: 'Agent Status',
          pieHole: 0,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
<title>cms</title>
</head>
<body>
<div class="wrapper">
       <div class = "row" id="CMS-skill">
              <div class = "col-xs-1"></div>
              <div class = "col-xs-10" id="">

                     <div class="panel panel-info">
                           <div class="panel-heading">
                                  <h2>CMS Skill</h2>
                           </div>
                           <div class="row">
                                  <div class="col-xs-4">
                                         <div class="panel panel-heading">
                                                <center>Oldest Call Waiting:
                                                <h2><b id="rnd7">00:</b><b id ="rnd"></b><b>:</b><b id ="rnd2">

                                                </h2></b></center>

                                         </div>
                                  </div>
                                  <div class="col-xs-4">
                                  <div class="panel panel-heading"> 
                                         <center>Total Agents Staffed:
                                         <h2><b id="rnd3">
                                            
                                         </h2></b></center>
                                  </div>
                                  </div>
                                  <div class="col-xs-4">
                                  <div class="panel panel-heading"> 
                                         <center>Total Agents Active: 
                                         
                                         <h2><b id="rnd4"></h2></b></center>
                                         </div>
                                  </div>
                           </div>
                           </span>
                           <div style="text-align: right">
                                  <button type="button" class="btn btn-success" onclick="redirect_real()"><span class="glyphicon glyphicon-eye-open">
                           </div> 
                           </button>
                     </div>
              </div>
              <div class = "col-xs-1">
              </div> 
       </div>
</div>

       <div class = "row" id="Agent-skill">
              <div class = "col-xs-1"></div>
              <div class = "col-xs-10"> 
                     <div class="panel panel-info">
                           <div class="panel-heading">
                           <h2>Agent By Skill</h2>
                           </div>
                                  <div class="table-responsive">          
                                    <table class="table">
                                         <thead>
                                            <tr>
                                                <th>Agent Name</th>
                                                <th>Code</th>
                                                <th>Time</th>
                                           </tr>
                                         </thead>
                                         <tbody>
                                           <tr>
                                                <td>Michael Dell</td>
                                                <td>6</td>
                                                <td>02:45</td>
                                           </tr>
                                                <tr>
                                                <td>Steve Jobs</td>
                                                <td>10</td>
                                                <td>01:01</td>
                                           </tr>
                                                <tr>
                                                <td>Bill Gates</td>
                                                <td>7</td>
                                                <td>51:19</td>
                                           </tr>
                                         </tbody>
                                    </table>
                                    </div>

                                  <div style="text-align: right">
                                         <button type="button" class="btn btn-success" onclick="redirect_skill()"><span class="glyphicon glyphicon-eye-open">
                                  </div> 
                           </span>
                           </button>
                     </div>
                    <div style="text-align: center">
                        <div id="donutchart" style="width: 50% height: 50%;"></div>
                    </div>
              </div>
              <div class = "col-xs-1"></div> 
       </div>
       <div class = "row" id="Agent-group">
              <div class = "col-xs-1"></div>
                     <div class = "col-xs-10"> 
                           <div class="panel panel-info">
                                  <div class="panel-heading">
                                         <h2>Agent by Agent Group</h2>
                                  </div>
                                  <div class="row">
                                         <div class="col-xs-4">
                                                <div class="panel panel-heading">
                                                       <center>Queue #1: 

                                                       <h3><b id ="rnd6"></b></h3></center>
                                                </div>
                                         </div>
                                         <div class="col-xs-4">
                                                <div class="panel panel-heading">
                                                       <center>Queue #2: 

                                                       <h3><b id="rnd5"> </b></h3></center>
                                                </div>
                                         </div>
                                         <div class="col-xs-4">
                                                <div class="panel panel-heading">
                                                       <center>Queue #3: 

                                                       <h3><b id="rand8"> 7 </b></h3></center>
                                                </div>
                                         </div>
                                  </div>
                                  <div style="text-align: right">
                                         <button type="button" class="btn btn-success" onclick="redirect_group()"><span class="glyphicon glyphicon-eye-open">
                                  </div> 
                                  </span>
                                  </button>
                                  <div class="panel-footer">Total Calls Waiting: <b id="rnd"></b></div>
                           </div>
                     </div>
              <div class = "col-xs-1"></div>    
       </div>
</div>

<script type="text/javascript">

   function randWithVariation(min, max, variation) {
      var seed = (Math.floor(Math.random() * max) % (max - min)) + min; // attempts to keep the result within the bounds
      var min = min, max = max, variation = variation;
      var r = function() {
        var offset = Math.floor(Math.random() * variation);
        if (Math.random() < 0.5) offset *= -1; // chance that number will decrease
        seed += offset;
        if (seed < min) return max - seed; // also attempts to keep the result within the bounds
        if (seed > max) return min + (seed - max);
        else return seed;
      }
      return r;
  }

  var rand = randWithVariation(10, 59, 0.1);
  document.getElementById('rnd').innerHTML = rand();
  setInterval(() => {
    document.getElementById('rnd').innerHTML = rand();
  }, 7000); 

    var rand = randWithVariation(10, 59, 10);
  document.getElementById('rnd2').innerHTML = rand();
  setInterval(() => {
    document.getElementById('rnd2').innerHTML = rand();
  }, 7000); 

    var rand = randWithVariation(40, 59, 5);
  document.getElementById('rnd3').innerHTML = rand();
  setInterval(() => {
    document.getElementById('rnd3').innerHTML = rand();
  }, 7000); 

      var rand = randWithVariation(10, 39, 10);
  document.getElementById('rnd4').innerHTML = rand();
  setInterval(() => {
    document.getElementById('rnd4').innerHTML = rand();
  }, 7000); 

    var rand = randWithVariation(10, 59, 10);
  document.getElementById('rnd5').innerHTML = rand();
  setInterval(() => {
    document.getElementById('rnd5').innerHTML = rand();
  }, 7000); 

    var rand = randWithVariation(10, 59, 10);
  document.getElementById('rnd6').innerHTML = rand();
  setInterval(() => {
    document.getElementById('rnd6').innerHTML = rand();
  }, 7000); 
</script>
</body>
<script> function redirect_real() {
            window.location.replace('/real_time');}</script>
</script>
<script> function redirect_skill() {
            window.location.replace('/agent_skill');}</script>
</script>
<script> function redirect_group() {
            window.location.replace('/agent_group');}</script>
</script>
</html>

