<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Work', 'Hours Per Day'],
          ['', 0],
          ['Agents not on Call',      6],
                  ['Agents on AUX',  2],
          ['Agents on Call', 11],
          ['', 0]
        ]);

        var options = {
          // title: 'Agent Status',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
<title>cms</title>
</head>
<body style="background-color: #EEEEEE">
<div class="wrapper">
<!-- 	<div class="row" id="boxes">
   		<div id="donutchart" style="width: 50% height: 50%;"></div>
	</div> -->
<!-- 	<div class="row">
		<label class="switch">
		  		<input type="checkbox">
		  		<span class="slider round"></span>
		</label>
	</div> -->
        <div class="row">
            <img class="img-responsive col-xs-12" src="https://www.findinall.com/uploaded_files/product/dell_bannerOYsZ.jpg">
        </div>
        <div class = "row" id="CMS-skill">
		<div class = "col-xs-1"></div>
		<div class = "col-xs-10" id=""> 
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>CMS Skill</h2>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<div class="panel panel-heading">
							Oldest Call Waiting
						</div>
					</div>
					<div class="col-xs-4">
						
						<div class="panel panel-heading">
                            Agents Staffed:<%=agents.length %>
						</div>
					</div>
					<div class="col-xs-4">
						
						<div class="panel panel-heading">
                            Agents Active:<%=active_agents.length %>
						</div>
					</div>
				</div>
				<div style="text-align: right">
                                    <button id="more-info" type="button" class="btn btn-success" onclick='redirect_real()'><span class="glyphicon glyphicon-eye-open">
				</div>
				</span>
				</button>
			</div>
		</div>
		<div class = "col-xs-1">
		</div>	
	</div>
</div>
	<div class = "row" id="Agent-skill">
		<div class = "col-xs-1"></div>
		<div class = "col-xs-10"> 
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Agent By Skill</h2>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<div class="panel panel-heading">
							Name
						</div>
					</div>
					<div class="col-xs-4">
						
						<div class="panel panel-heading">
							Reason Code
						</div>
					</div>
					<div class="col-xs-4">
						
						<div class="panel panel-heading">
							Time
						</div>
					</div>
				</div>
				<div style="text-align: right">
					<button type="button" class="btn btn-success" onclick='redirect_skill()'><span class="glyphicon glyphicon-eye-open">
				</div>	
				</span>
				</button>
			</div>
		</div>
		<div class = "col-xs-1">

		</div>	
	</div>

	<div class = "row" id="Agent-group">
		<div class = "col-xs-1"></div>
		<div class = "col-xs-10"> 
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2>Agent by Agent Group</h2>
				</div>
				<div class="row">
					<div class="col-xs-3">
						<div class="panel">
						    <div class="panel-heading">
                                                        Queue 1: 
                                                    <div style="font-size: 20px; font-weight: bold">
                                                        333
                                                    </div>
                                                    </div>
                                                </div>
					</div>
					<div class="col-xs-3">
						<div class="panel">
						    <div class="panel-heading">
                                                        Queue 2:

                                                    <div style="font-size: 20px; font-weight: bold">
                                                        333
                                                    </div>
                                                    </div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="panel">
						    <div class="panel-heading">
                                                        Queue 3:
                                                    <div style="font-size: 20px; font-weight: bold">
                                                        333
                                                    </div>
                                                    </div>

						</div>
					</div>
					<div class="col-xs-3">
						<div class="panel">
						    <div class="panel-heading">
                                                        Queue 4:
                                                    <div style="font-size: 20px; font-weight: bold">
                                                        333
                                                    </div>
                                                    </div>
						</div>
					</div>
				</div>
				</span>
				</button>
			</div>
		</div>
		<div class = "col-xs-1"></div>	
	</div>
</div>

</body>
    <script>function redirect_real() {
        console.log('hey');
        window.location.replace('/real_time');}</script>

    <script>function redirect_skill() {
        console.log('hey');
        window.location.replace('/agent_skill');}</script>


    <script>function redirect_group() {
        console.log('hey');
        window.location.replace('/agent_group');}</script>
</html>
